---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SwipeButton from '../components/SwipeButton.astro';
import Glassmorphism from '../components/Glassmorphism.astro';
import page2 from './Übermich.astro';
import Hovereffect from '../components/hovereffect.astro';
import Profil from '../components/profil.astro';
---

<Layout title="Startseite">
	
 	<section id=""></section>

	<section id=""></section>
		
	<section id="profil"><Profil> </Profil></section> 

	<section id="glassmorphism">
		<Glassmorphism> </Glassmorphism>
	</section> 

</Layout>

<style>
		


</style>

