---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<Card href='https://www.google.de' title='Google' body="Cooler Text..."/> 
	<p>  </p>
	<Card href='https://www.google.de' title='Discord' body="Cooler Text..."/> 
	<p>	 </p>
	<Card href='https://www.google.de' title='Lutz & Grub' body="Cooler Text..."/> 
	




</Layout>

