---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SwipeButton from '../components/SwipeButton.astro';
import Glassmorphism from '../components/Glassmorphism.astro';
import searchbar from '../components/searchbar.astro';
import page2 from '../pages/page2.astro';
import Hovereffect from '../components/hovereffect.astro';
import Profil from '../components/profil.astro';
---

<Layout title="Welcome to Astro.">
	
 	<section> 
		
	</section>

	<section> 
		<searchbar> </searchbar>
	</section>

	<section> 

		<Profil> </Profil>

	</section>


	<section> 
		
		<Glassmorphism> </Glassmorphism>

	</section>

	<search
	




</Layout>

