---
import layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Glassmorphism from '../components/Glassmorphism.astro';
import Hovereffect from '../components/hovereffect.astro';
import Cardhover from '../components/Cardhover.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	
    <section> 
        
       
    </nav>
       
   </section>

   <section> 
       
       <glass></glass>
   
   </section>

   <section> 
      

   </section>


   <section> 
        <div class="buttons"><div> <Glassmorphism>
        </div>
   </section>


</Layout>



<style>



</style>

