---
import layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Glassmorphism from '../components/Glassmorphism.astro';
import Hovereffect from '../components/hovereffect.astro';
import Cardhover from '../components/Cardhover.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	

    <Card> </Card>

    

   <section>
        <div class="buttons"> <Glassmorphism>
        </div>
   </section>


</Layout>



<style>

.buttons
{
    position: relative;
    margin: auto;
    top: 6vh;
    z-index: 5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
